// General styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

a {
    @include transition(ease, 0.3s);
}

.whatsapp {
    @include whatsapp-button;
}

header#navbar {
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 2rem;
    padding: 15px 30px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 100px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: black;

        &:hover,
        &:focus {
            color: black;
        }
    }
}

.navbar-scroll {
    // background-color: ;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 60px !important;
    }

    #mburger {
        color: black !important;
    }
}

.seccion {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion-1,
#seccion-2 {
    /*
    img {
        max-width: 300px;
    }
    */
}